* {
      text-decoration: none;
      list-style-type: none;
}

body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      min-height: 100vh;
}

h5 {
      color: white;
      background: #b1487c;
}

img {
      width: 100%;
      height: auto;
}