//Placeholders and classes: ;
// couldn't save in variables
$colorPink: #b63977;
$colorBlue: #8cc8cf;
///Button placeholder
%btn{
	width: 200px;
  height: 200px;
	border-radius: 50%;
	color: white;
 text-decoration:none;
 padding:5%;
margin: 10px;	
 font-family: 'Poiret One', cursive;
 font-size:1.5em;
}



%fonticons {
	color:white;
	font-size: 2em;
	margin:0.1em;




}
 


