/* general styling */

* {
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0;
    background: #DB2323;
}

h1, h2, h3 {
    color: white;
}

p {
    color: white;
}

figure {
    margin: 0;
}

/* end of general styling */

/* header */
.masthead {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: baseline;
    background: black;
    border: 1px solid white;
}

/* end of header */

img {
    display: block;
    width: 100%;
    height: auto;
}

/* cards */
.cards {
    margin: 1em auto;
    padding: 0;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.cards a {
    display: block;
}

@media screen and (min-width: 27em) {
    .cards a:focus,
    .cards a:hover {
        background: pink;
        opacity: 0.8;
    }
    .cards a:hover h3 {
        color: black;
    }
    
    .card {
        margin: 1em 0;
        display: grid;
        grid-template-columns: 8em auto;
    }
    
}

@media screen and (min-width: 60em) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 25em);
        grid-gap: 1em;
        justify-content: center;
    }
    .card {
        margin: 0;
    }
    .double {
        grid-row: span 3;
    }
    .double .card {
        display: block;
    }
}

